<div fxFill fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.5rem" class="mat-typography">
  <div>
    <h1 fxLayoutAlign="center" translate>APP_NAME</h1>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">
      <h4 class="version">v{{ version }}</h4>
      <app-language-selector></app-language-selector>
    </div>
  </div>
  <div class="login-container" fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="90%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
      <form (ngSubmit)="performAction()" [formGroup]="activeForm" novalidate>
        <div class="login-error" [hidden]="!error || isLoading" translate>{{'Invalid credentials'}}</div>
        <br />
        <div class="login-fields" fxLayout="column">
          <mat-form-field [hideRequiredMarker]="true">
            <input
              type="text"
              matInput
              formControlName="username"
              autocomplete="username"
              [placeholder]="'Username' | translate"
              required
            />
            <mat-error *ngIf="activeForm.controls.username.invalid && activeForm.controls.username.touched">
              <span translate>Username is required</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field [hideRequiredMarker]="true">
            <input
              type="password"
              matInput
              formControlName="password"
              autocomplete="current-password"
              [placeholder]="'Password' | translate"
              required
            />
            <mat-error *ngIf="activeForm.controls.password.invalid && activeForm.controls.password.touched">
              <span translate>Password is required</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="!loginActive" [hideRequiredMarker]="true">
            <input
              type="text"
              matInput
              formControlName="name"
              autocomplete="name"
              [placeholder]="'Name' | translate"
              required
            />
            <mat-error *ngIf="registerForm.controls.name.invalid && registerForm.controls.name.touched">
              <span translate>Name is required</span>
            </mat-error>
          </mat-form-field>
          <mat-slide-toggle color="primary" formControlName="remember" translate>Remember me</mat-slide-toggle>
          <br />
          <button mat-raised-button color="primary" type="submit" [disabled]="activeForm.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span [translate]="loginActive ? 'Login' : 'Register'"></span>
          </button>
          <button mat-raised-button color="secondary" type="button" [disabled]="isLoading" (click)="toggleRegister()">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span [translate]="loginActive ? 'Register' : 'Login'"></span>
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
