:host {
  .container {
    padding: 1em;
  }

  .project-container {
    margin: -0.5em;
  }

  .card-container {
    padding: 0.5em;
  }

  .action-buttons {
    font-size: 16px;
    line-height: 20px;
    width: 20px;
    height: 20px;

    .mat-icon {
      font-size: 16px;
      line-height: 20px;
      width: 20px;
      height: 20px;
    }
  }

  .project-card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete-button {
      visibility: hidden;
    }

    &:hover {
      .delete-button {
        visibility: visible;
      }
    }
  }

  .new-project-card {
    margin-left: 1em;
    height: min-content;
  }

  .task-button {
    min-width: fit-content;
    margin-right: 0;
  }

  .task-fields {
    justify-content: flex-end;
  }

  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: 40px;
  }

  .list-item {
    ::ng-deep .mat-list-item-content {
      justify-content: space-between;
    }

    .delete-button {
      visibility: hidden;
    }

    &:hover {
      .delete-button {
        visibility: visible;
      }
    }
  }

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }

  .mat-card>.mat-card-actions:last-child {
    margin: 0;
  }

  .finished-task {
    color: lightgray;
  }
}
