<div class="container">
  <div class="project-container" fxLayout="row wrap" fxFlex="50%" fxFlex.gt-sm="75%">
    <div class="card-container" *ngFor="let project of projectList; trackBy:trackById" fxFlex="100%" fxFlex.md="50%" fxFlex.gt-md="33%">
      <mat-card class="project-card">
        <mat-card-header>
          <div class="project-card-header">
            <h4>Project: {{project.name}}</h4>
            <div class="delete-button">
              <button class="action-buttons" mat-icon-button aria-label="Edit" [disabled]="isLoading" (click)="openProjectDialog(project)">
                <mat-icon>edit</mat-icon>
              </button>
              <button class="action-buttons" mat-icon-button aria-label="Delete" [disabled]="isLoading" (click)="deleteProject(project.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <h4>To Do</h4>
          <mat-list *ngIf="!!todoList(project.tasks).length; else noResults">
            <mat-list-item class="list-item" *ngFor="let task of todoList(project.tasks); trackBy:trackById" [matTooltip]="'Finish date: ' + (task.finishDate ? (task.finishDate | date) : 'Not defined')">
              <mat-checkbox [checked]="task.finished" (change)="toggleTask(task.id, project.id)">{{task.name}}</mat-checkbox>
              <div class="delete-button">
                <button class="action-buttons" mat-icon-button aria-label="Edit" [disabled]="isLoading" (click)="openDialog(project.id, task)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="action-buttons" mat-icon-button aria-label="Delete" [disabled]="isLoading" (click)="deleteTask(task.id, project.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>

          <h4>Finished</h4>
          <mat-list *ngIf="!!finishedList(project.tasks).length; else noResults">
            <mat-list-item class="list-item" *ngFor="let task of finishedList(project.tasks); trackBy:trackById" [matTooltip]="'Finish date: ' + (task.finishDate ? (task.finishDate | date) : 'Not defined')">
              <mat-checkbox class="finished-task" [checked]="task.finished" (change)="toggleTask(task.id, project.id)">{{task.name}}</mat-checkbox>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <div class="task-fields" fxLayout="row">
            <button class="task-button" mat-raised-button color="primary" [disabled]="isLoading" (click)="openDialog(project.id)">
              <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
              <span translate>Add task</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <mat-card class="new-project-card" fxFlex="50%" fxFlex.gt-sm="25%">
    <mat-card-header>
      <span>Create new Project</span>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="createProject()" [formGroup]="projectForm" novalidate>
        <div class="project-fields" fxLayout="column">
          <mat-form-field [hideRequiredMarker]="true">
            <input
              type="text"
              matInput
              formControlName="name"
              autocomplete="name"
              [placeholder]="'Project name' | translate"
              required
            />
            <mat-error *ngIf="projectForm.controls.name.invalid && projectForm.controls.name.touched">
              <span translate>The project name is required</span>
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>Create project</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #noResults><span>There are no tasks in this section</span></ng-template>
