<h1 mat-dialog-title>Edit project</h1>
<form (ngSubmit)="submit()" [formGroup]="projectForm" novalidate>
  <div mat-dialog-content>
    <div class="login-fields" fxLayout="column">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="name"
          autocomplete="name"
          [placeholder]="'Project name' | translate"
          required
        />
        <mat-error *ngIf="projectForm.controls.name.invalid && projectForm.controls.name.touched">
          <span translate>Project must have a name</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">
      <span translate>Save</span>
    </button>
  </div>
</form>
