<h1 mat-dialog-title>{{data ? 'Edit' : 'Create'}} task</h1>
<form (ngSubmit)="submit()" [formGroup]="taskForm" novalidate>
  <div mat-dialog-content>
    <div class="login-fields" fxLayout="column">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="name"
          autocomplete="name"
          [placeholder]="'Task name' | translate"
          required
        />
        <mat-error *ngIf="taskForm.controls.name.invalid && taskForm.controls.name.touched">
          <span translate>Task must have a name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          formControlName="finishDate"
          [matDatepicker]="picker"
          [min]="minDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
<!--        <mat-error *ngIf="taskForm.controls.finishDate.invalid && taskForm.controls.finishDate.touched">-->
<!--          <span translate>Task must have a deadline</span>-->
<!--        </mat-error>-->
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid">
      <span [translate]="data ? 'Save' : 'Create'"></span>
    </button>
  </div>
</form>
